@page "/matchtypes/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3 class=" card-title">MatchTypes</h3>
<br />
<a href="/matchtypes/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New MatchType
</a>
<br />
<br />
@if (MatchTypes == null)
{
    <div class=" alert alert-info">Loading MatchTypes...</div> 
}
else
{
    <table class=" table table-responsive">
        <thead>
            <tr>
                <th>Player1 FirstName</th>
                <th>Player1 LastName</th>
                <th>Player2 FirstName</th>
                <th>Player2 LastName</th>
                <th>Match</th>
                <th>Actions</th>

            </tr>
    </thead>
    <tbody>
        @foreach (var matchtype in MatchTypes)
        {
        <tr>
            <td>@matchtype.Player.FirstName</td>
            <td>@matchtype.Player.LastName</td>
            <td>@matchtype.Player.FirstName</td>
            <td>@matchtype.Player.LastName</td>
            <td>@matchtype.Match</td>

            <td>
                <a href=" /matchtypes/view/@matchtype.Id" class=" btn btn-primary">
                    <span class=" oi oi-book"></span>
                </a>
                <a href=" /matchtypes/edit/@matchtype.Id" class=" btn btn-warning">
                    <span class=" oi oi-pencil"></span>
                </a>
                <button class=" btn btn-danger" @onclick="@(()=>Delete(matchtype.Id))">
                    <span class=" oi oi-delete"></span>
                </button>
            </td>
        </tr>
         }
    </tbody>
</table>}

@code { private List<MatchType> MatchTypes;

            protected async override Task OnInitializedAsync()
            {
                MatchTypes = await _client.GetFromJsonAsync<List<MatchType>>($"{Endpoints.MatchTypesEndpoint}");
            }

            async Task Delete(int matchtypeId)
            {
                var matchtype = MatchTypes.First(q => q.Id == matchtypeId);
                var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {matchtype.Id}?");
                if (confirm)
                {
                    await _client.DeleteAsync($"{Endpoints.MatchTypesEndpoint}/{matchtypeId}");
                    await OnInitializedAsync();
                }

            } }
